@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbarmin{
    display: none;
    font-weight: 600;
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 70px;
    z-index: 3;
}
.logo{
    display: none;
  font-size: 1.8rem;
  color: white;
  margin-left: 2%;
}
.logo span{
  color: #2894ff;
}
.menu-btn{
    display: none;
  position: relative;
  left: 70%;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  /* 364a5f */
}
.toggle{
    display: none;
  position: fixed;
  top: 0;
  right: -400px;
  background-color: #16181a;
  z-index: 4;
  height: 100%;
  width: 50%;
  opacity: 0.9;
  transition: 0.5s;
}
.toggleNav li{
    z-index: 4;
  font-size: 1.3rem;
  position: relative;
  left: 110px;
  list-style: none;
  color: white;
  transition: all 0.3s;
}
.toggleNav li:nth-child(1){
  top: 100px;
}
.toggleNav li:nth-child(2){
  top: 150px;
}
.toggleNav li:nth-child(3){
  top: 200px;
}
.toggleNav li:nth-child(4){
  top: 250px;
}
.toggleNav li:nth-child(5){
  top: 300px;
}
.navamin{
    display: none;
  position: relative;
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255,255, 0.4);
  letter-spacing: 0.125rem;
  border-radius: 0.625rem;
  transition: 0.3s;
}
.navamin:hover{
  color: rgba(255, 255,255, 1);
}
.navamin span{
  display: block;
  position: absolute;
  background: #2894ff;
}
.navamin span:nth-child(1){
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s;
}
.navamin:hover span:nth-child(1){
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.3s;
}
.navamin span:nth-child(2){
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
.navamin:hover span:nth-child(2){
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s;
}
.navamin span:nth-child(3){
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s;
  transition-delay: 0.3s;
}
.navamin:hover span:nth-child(3){
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.3s;
  transition-delay: 0.3s;
}
.navamin span:nth-child(4){
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  transition-delay: 0.3s;
}
.navamin:hover span:nth-child(4){
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s;
  transition-delay: 0.3s;
}
#cross{
    z-index: 4;
    display: none;
  color: white;
  font-size: 1.7rem;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.navbarmax{
    font-size: 1.25rem;
    font-weight: 600;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    z-index: 2;
}
.navbarmax::before{
    content: "";
    position:absolute;
    top: 0;
    background-color: #16181a;
    height: 70px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
.list{
    font-size: 1.3rem;
    z-index: 1;
    list-style: none;
    color: white;
    margin-top: 0.7%;
}
.nava{
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255,255, 0.4);
    letter-spacing: 0.125rem;
    border-radius: 0.625rem;
    transition: 0.3s;
}
.nava:hover{
    color: rgba(255, 255,255, 1);
}
.nava span{
    display: block;
    position: absolute;
    background: #2894ff;
}
.nava span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s;
}
.nava:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.3s;
}
.nava span:nth-child(2){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}
.nava:hover span:nth-child(2){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s;
}
.nava span:nth-child(3){
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s;
    transition-delay: 0.3s;
}
.nava:hover span:nth-child(3){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.3s;
    transition-delay: 0.3s;
}
.nava span:nth-child(4){
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
    transition-delay: 0.3s;
}
.nava:hover span:nth-child(4){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s;
    transition-delay: 0.3s;
}
@media screen and (max-width: 900px){
    .list{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 750px){
    .navbarmax::before{
        display: none;
    }
    .list{
        display: none;
    }
    #cross,.menu-btn,.logo,.toggle,.toggleNav{
        display: block;
    }
    .navbarmin{
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #16181a;
    }
}

@media screen and (max-width: 600px){
    .menu-btn{
      left: 65%;
    }
    .toggleNav li{
      left: 60px;
    }
  }
  
  @media screen and (max-width: 490px){
    .menu-btn{
      left: 55%;
    }
    .toggleNav li{
      left: 50px;
    }
    .toggle{
      width: 60%;
    }
  }
  @media screen and (max-width: 390px){
    .menu-btn{
      left: 45%;
    }
    .toggleNav li{
      left: 20px;
    }
    .toggle{
      width: 70%;
    }
  }